# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
/typings/
# Executables
*.swf
*.air
*.ipa
*.apk
*.ts
*.d.ts
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.class

*.war
*.ear

.idea
/idea/
.vscode/
*.ipr
*.iml
*.iws
*.yml
out
*.log
*.cache
*.diff
*.patch
*.tmp

.DS_Store
Thumbs.db
*.stackdump
